{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <section class="card-container">
        <div class="card">
            <div class="face face-1">
                <img src="photo.jpg" alt="" />
                <h3>Заголовок</h3>
            </div>
            <div class="face face-2">
                <p>Текст</p>
            </div>
        </div>
        <div class="card">
            <div class="face face-1">
                <img src="photo.jpg" alt="" />
                <h3>Заголовок</h3>
            </div>
            <div class="face face-2">
                <p>Текст</p>
            </div>
        </div>
        <div class="card">
            <div class="face face-1">
                <img src="photo.jpg" alt="" />
                <h3>Заголовок</h3>
            </div>
            <div class="face face-2">
                <p>Текст</p>
            </div>
        </div>
    </section>
{% endblock %}